<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="author" content="Deborah Barnard">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/cssReset.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

{{ range where .Site.RegularPages ".Params.colour" "green" | slice }}
<ul>{{ range sort . ".Params.fruit" "asc"}}<li>{{ .Params.title }}</li>{{ end }}</ul>
{{end}}


</body>
</html>